In [1]:
# import dependencies (may need to include more?)
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
# read csv file
denton_df = pd.read_csv('denton_appraisals.csv')
denton_df.head()

         geoname statepostal   fips seriesid    purpose  year  quarter   value
0  Denton County          TX  48121    COUNT       Both  2017        1  5209.0
1  Denton County          TX  48121    COUNT  Refinance  2014        1   997.0
2  Denton County          TX  48121    COUNT       Both  2014        1  3482.0
3  Denton County          TX  48121    COUNT   Purchase  2014        2  3560.0
4  Denton County          TX  48121    COUNT  Refinance  2014        2  1301.0

In [3]:
denton_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geoname      950 non-null    object
 1   statepostal  950 non-null    object
 2   fips         950 non-null    int64
 3   seriesid     950 non-null    object
 4   purpose      950 non-null    object
 5   year         950 non-null    int64
 6   quarter      950 non-null    int64
 7   value        950 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 59.5+ KB

In [10]:
# filter out all old dates (only include 2022 & 2023)
current_market_df = denton_df[denton_df['year'] >= 2022]
current_market_df.head()

,geoname,statepostal,fips,seriesid,purpose,year,quarter,value
90,Denton County,TX,48121,COUNT,Purchase,2022,5,17189.0
91,Denton County,TX,48121,COUNT,Refinance,2022,5,7167.0
92,Denton County,TX,48121,COUNT,Both,2022,5,24356.0
93,Denton County,TX,48121,COUNT,Purchase,2022,1,4469.0
94,Denton County,TX,48121,COUNT,Refinance,2022,1,3643.0

In [12]:
# Show only 2022 (remove 5th quarter)
current_market_df = current_market_df[current_market_df['quarter'] <=4]
current_market_df.head()

,geoname,statepostal,fips,seriesid,purpose,year,quarter,value
93,Denton County,TX,48121,COUNT,Purchase,2022,1,4469.0
94,Denton County,TX,48121,COUNT,Refinance,2022,1,3643.0
95,Denton County,TX,48121,COUNT,Both,2022,1,8112.0
96,Denton County,TX,48121,COUNT,Purchase,2022,2,5214.0
97,Denton County,TX,48121,COUNT,Refinance,2022,2,1859.0

In [13]:
# List all 'seriesid' values to further investigate changes in market value
series_types = denton_df['seriesid'].unique()
series_types

# P25 corresponds to values below 1st quartile of data; P75 includes first 3 quartiels
# Per below, per equal, per above corresponds to asking price and finalized sale

array(['COUNT', 'MEDIAN', 'P25', 'P75', 'MEAN', 'RATIO', 'PERBEL',
       'PEREQ', 'PERABV'], dtype=object)

In [8]:
current_market_df.to_csv('denton_home_sales_22.csv')